{% extends 'base.html.twig' %}

{% block title %}Perso{% endblock %}

{% block body %}
    <div class="container">
        <h1>Perso</h1>
        <div class="row">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ perso.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ perso.name }}</td>
                </tr>
                <tr>
                    <th>CoordX</th>
                    <td>{{ perso.coordX }}</td>
                </tr>
                <tr>
                    <th>CoordY</th>
                    <td>{{ perso.coordY }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('perso_index') }}">back to list</a>

            <a href="{{ path('perso_edit', {'id': perso.id}) }}">edit</a>

            {{ include('perso/_delete_form.html.twig') }}
        </div>
    </div>
    </div>
{% endblock %}
